
.gradle/
build/
!**/src/main/**/build/
!**/src/androidTest/**/build/
!**/src/test/**/build/
*.apk
*.aab
*.ap_
*.dex
*.class

bin/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.rar

*.iml
.gradle
.idea/
*.ipr
*.iws
out/
captures/
.externalNativeBuild/
.cxx/
*.hprof

local.properties
secrets.properties
*.jks
*.keystore
debug.keystore
*.log
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

*.avd
*.ini


fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
gradle-daemon-jvm.properties